{% extends 'base.html' %}
{% load static %}

{% block title %}
Indigoshoot Scores
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'indigoshoot/css/score.css' %}">
  <link rel="stylesheet" href="{% static 'indigoshoot/css/styles.css' %}">
{% endblock css_files %}

{% block content %}
  <div class="container">
    <section id='welcome'>
      <h2 class="mt-3 text-center">Tournament Scores</h2>
    </section>
    <section class="mt-5">
        <h3>Summary</h3>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <th class="fw-bold">Team/Day</th>
                  <th class="fw-bold text-center">1</th>
                  <th class="fw-bold text-center">2</th>
                  <th class="fw-bold text-center">3</th>
                  <th class="fw-bold text-center">4</th>
                  <th class="fw-bold text-center">5</th>
                  <th class="fw-bold text-center">Total</th>
                </tr>
              </thead>
              <tbody class="align-middle text-center">
                <tr>
                  <td class="text-start text-nowrap"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-start text-nowrap"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-start text-nowrap"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-start text-nowrap"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-start text-nowrap"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-center">
          <h2 class="text-center">Last Year Champs</h2>
          <div class="col-md-6">
            <img class='mb-3' src="{% static 'img/2023YCC-crop.jpg' %}" width='100%'>
          </div>
          <div class="col-md-6">
            <img class='mb-3' src="{% static 'img/2023YCC-2-crop.jpg' %}" width='100%'>
          </div>
          <div class="row">
          <div class="col-lg-4">
            <h3>Top Shooters</h3>
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <td class="fw-bold" colspan="2">Top Gun</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <thead>
                <tr>
                  <td class="fw-bold" colspan="2">Runner-up</td>
                </tr>
              </thead>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
            
          <div class="col-lg-4">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <p class='fw-bold'>Winning Team - </p>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <p class='fw-bold'>Second Team - </p>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-lg-4">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <p class='fw-bold'>Third Team - </p>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td> </td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <p class='fw-bold'>Fourth Team - </p>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <table class="table table-striped table-bordered border-primary display product-overview mb-30">
              <thead>
                <tr>
                  <p class='fw-bold'>Fifth Team - </p>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
                <tr>
                  <td></td>
                  <td class='text-center'></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
    <section id="scores">
      <table class="table table-striped table-bordered border-primary display product-overview mb-30">
        <thead>
          <tr>
            <th rowspan="3">Team / Shooter</th>
            {% for host in hosts %}
              {% if host.host_day == "1" %}
                <th colspan="4" class='text-center'>{{ host.name}}</th>
              {% endif %}
              {% if host.host_day == "2" %}
                <th colspan="4" class='text-center'>{{ host.name}}</th>
              {% endif %}
              {% if host.host_day == "3" %}
                <th colspan="4" class='text-center'>{{ host.name}}</th>
              {% endif %}
              {% if host.host_day == "4" %}
                <th colspan="4" class='text-center'>{{ host.name}}</th>
              {% endif %}
              {% if host.host_day == "5" %}
                <th colspan="4" class='text-center'>{{ host.name}}</th>
              {% endif %}
            {% endfor %}
          </tr>
          
          <tr>
            <th colspan="2" class='text-center'>Round</th>
            <th class='text-center'>Day 1</th>
            <th class='text-center'>Cumm</th>
            <th colspan="2" class='text-center'>Round</th>
            <th class='text-center'>Day 2</th>
            <th class='text-center'>Cumm</th>
            <th colspan="2" class='text-center'>Round</th>
            <th class='text-center'>Day 3</th>
            <th class='text-center'>Cumm</th>
            <th colspan="2" class='text-center'>Round</th>
            <th class='text-center'>Day 4</th>
            <th class='text-center'>Cumm</th>
            <th colspan="2" class='text-center'>Round</th>
            <th class='text-center'>Day 5</th>
            <th class='text-center'>Grand</th>
          </tr>
          <tr>
            <th class='text-center'>1</th>
            <th class='text-center'>2</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>3</th>
            <th class='text-center'>4</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>5</th>
            <th class='text-center'>6</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>7</th>
            <th class='text-center'>8</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>9</th>
            <th class='text-center'>10</th>
            <th class='text-center'>Total</th>
            <th class='text-center'>Total</th>
          </tr>
          
        </thead>
        <tbody class="align-middle text-center">
          {% for team in teams %}
            <tr>
              <td class='fw-bold'>{{ team.name }}</td>
              {% for shooter in shooters %}
                {% if shooter.team == team and shooter.enabled == True %}
                <tr>
                  <td class="text-start text-nowrap">{{ shooter }}</td>
                  {% for score in scores %}
                    {% if score.shooter == shooter %}
                      <td style="background-color: {% if score.RD1_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD1_POINTS }}
                      </td>
                      <td style="background-color: {% if score.RD2_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD2_POINTS }}
                      </td>
                      <td>
                        {{ score.Day1_total }}
                      </td>
                      <td>
                        {{ score.Day1_total }}
                      </td>
                      <td style="background-color: {% if score.RD3_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD3_POINTS }}
                      </td>
                      <td style="background-color: {% if score.RD4_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD4_POINTS }}
                      </td>
                      <td>
                        {{ score.Day2_total }}
                      </td>
                      <td>
                        {{ score.Day2_cumm }}
                      </td>
                      <td style="background-color: {% if score.RD5_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD5_POINTS }}
                      </td>
                      <td style="background-color: {% if score.RD6_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD6_POINTS }}
                      </td>
                      <td>
                        {{ score.Day3_total }}
                      </td>
                      <td>
                        {{ score.Day3_cumm }}
                      </td>
                      <td style="background-color: {% if score.RD7_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD7_POINTS }}</td>
                      <td style="background-color: {% if score.RD8_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD8_POINTS }}</td>
                      <td>
                        {{ score.Day4_total }}
                      </td>
                      <td>
                        {{ score.Day4_cumm }}
                      </td>
                      <td style="background-color: {% if score.RD9_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD9_POINTS }}</td>
                      <td style="background-color: {% if score.RD10_POINTS == 25 %}#ff0000{% endif %}">
                        {{ score.RD10_POINTS }}
                      </td>
                      <td>
                        {{ score.Day5_total }}
                      </td>
                      <td>
                        {{ score.Day5_cumm }}
                      </td>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                </tr>
              {% endfor %}
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </section>
  </div>
{% endblock %}