
<header id='main-navigation'>
  <div class="container">
  <nav>
    <ul>
      <li><a href="https://www.indigoshoot.com/">HOME</a></li>
      <li><a href="https://www.indigoshoot.com/how-it-started/">HOW IT STARTED</a></li>
      <li><a href="https://www.indigoshoot.com/2019-scores/">SCORES</a></li>
      <li><a href="https://www.indigoshoot.com/past-scores/">PAST WINNERS</a></li>
      <li><a href="https://www.indigoshoot.com/upcoming-events/">UPCOMING EVENTS</a></li>
      <li><a href="http://indigoshootscores.myitdepartment.org/admin/">ADMIN</a></li>
    </ul>
  </nav>
</div>
</header>
