@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#main-navigation {
  background-color: lightslategray;
  height: 5rem;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

#main-navigation nav {
  width: 100%;
}

#main-navigation ul {
  display: flex;
  justify-content: space-between;
  
  padding: 0 10%;
  height: 100%;
}

#main-navigation li {
  list-style-type: none;
  justify-content: space-between;
  
}

#main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#footer {
  background-color: lightslategray;
  display: flex;
  height: 5rem;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
#footer p {
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
